[run]
branch = True
source = oggmzarr

omit =
    */__init__.py
    */data/*
    */docs/*
    */logs/*

[html]
# avoid workspace clutter
directory = ./logs/coverage/

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Re-enable standard pragma
    pragma: no cover
    coverage: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    def __str__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    raise ImportError

    # Don't complain if non-runnable code isn't run:
    except ImportError
    if 0:
    if __name__ == .__main__.:

    # Don't complain about abstract methods as they aren't run:
    @(abc\.)?abstractmethod

ignore_errors = True
